/* src/Body.css */
.body-container {
  display: flex;
  height: 100vh;
}

.SideBar {
  width: 250px; /* Adjust width as necessary */
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.TopBar {
  height: 60px; /* Adjust height as necessary */
  background-color: #f8f9fa; /* Example background color */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px; /* Example padding */
}

.Dashboard {
  flex: 1;
  background-color: #fff; /* Example background color */
  padding: 20px; /* Example padding */
  overflow-y: auto;
}