.SideBar {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
  }
  
  .randomIcon {
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 30px;
    
  }
  
  .SideBarList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .SideBarList.bottom {
    margin-top: auto; 
  }
  
  .SideBarRow {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .SideBarRow.selected {
    background-color: transparent; 
  }
  
  .iconTitleContainer {
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px; 
    background-color: transparent;
    border-radius: 50%; 
  }
  
  .icon.selectedIcon {
    background-color: #5570F1;
    color: white;
    padding: 8px; 
  }
  
  .title {
    display: flex;
    align-items: center;
    padding-left: 10px; 
  }
  
  .giftCardMessage {
    font-weight: bold;
    background-color: burlywood;
  }
  
  .sidebar-divider {
    width: 100%;
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ccc;
  }  