.SideBar {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh; /* Ensure sidebar takes full height */
  }
  
  .randomIcon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 50px; 
  }
  
  .SideBarList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .SideBarList.bottom {
    margin-top: auto; /* Push this list to the bottom */
  }
  
  .SideBarRow {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .SideBarRow.selected {
    background-color: transparent; /* Remove default background color */
  }
  
  .iconTitleContainer {
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    background-color: transparent;
    border-radius: 50%; /* Make icon circular */
  }
  
  .icon.selectedIcon {
    background-color: #5570F1;
    color: white;
    padding: 8px; /* Increase padding for better visibility */
  }
  
  .title {
    display: flex;
    align-items: center;
    padding-left: 10px; /* Adjust padding as needed */
  }
  
  .title.selectedTitle {
    background-color: #5570F1;
    color: white;
    padding: 8px; /* Increase padding for better visibility */
  }
  
  .giftCardMessage {
    font-weight: bold;
    background-color: burlywood;
  }
  
  .sidebar-divider {
    width: 100%;
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ccc;
  }  